@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap');

/*STICKY FOOTER WITH FLEX*/
html, body {
    height: 100%;
}

body {
    font-family: 'Didact Gothic', sans-serif;
    background-color:rgb(31, 31, 31);
    color: #fff;
    display: flex;
    flex-direction: column;
}

#footer {
    flex-shrink: 0;
}
#app {
    flex: 1 0 auto;
}
/*END STICKY FOOTER*/

button, input[type="submit"] {
    padding: 5px;
    margin: 5px;
    border: none;
}
#fotoHome {
    max-width: 100%;
    height: auto;
}

input[type="text"], input[type="number"], input[type="password"], input[type="submit"], select{
    padding: 5px 15px;
    margin: 10px;
    border-radius: 5px;
    border-style: none;
    width: 100%;
}

a {
    text-decoration: none;
    color: #0BCAF0;
}
a:hover {
    color: #fff;
}

#footer {
    background-color: firebrick;
    text-align: center;
    display: flex;
    justify-content: center;
}