@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap');

body {
    font-family: 'Didact Gothic', sans-serif;
    background-color:rgb(31, 31, 31);
    color: #fff;
}


button, input[type="submit"] {
    padding: 5px;
    margin: 5px;
    border: none;
}
#fotoHome {
    max-width: 100%;
    height: auto;
}

input[type="text"], input[type="number"], input[type="password"], input[type="submit"]{
    padding: 5px 15px;
    margin: 10px;
    border-radius: 10px;
    border-style: none;
}

a {
    text-decoration: none;
    color: #0BCAF0;
}
a:hover {
    color: #fff;
}

#footer {
    background-color: firebrick;
    text-align: center;
    display: flex;
    justify-content: center;
}