@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap');

body {
    font-family: 'Didact Gothic', sans-serif;
    background-color:khaki;
}


button, input[type="submit"] {
    padding: 5px;
    margin: 5px;
    border: none;
}
#fotoHome {
    max-width: 100%;
    height: auto;
}